.todo-item {
  display: flex;
  align-items: center;
}

.todo-item__completed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__completed img {
  height: 20px;
}

.todo-item__name {
  margin-left: 5px;
}

.todo-item__delete {
  color: red;
  display: flex;
}

.todo-item__delete:hover {
  cursor: pointer;
}
